*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    margin-top: 2.5%;
    padding: 30px;
}
.logo{
    color: white;
    font-size: 2.5rem;
    display: inline;
}
.top-navbar-menu{
    display: inline;
    float: right;
    position: relative;
    right: 110px;
    top: 8px;
}
.top-btn{
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}
button{
    background-color: transparent;
    border: none;
    margin: 10px;
}
button:hover{
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.top-main-container{
    text-align: center;
    margin-top: 200px;
    font-size: 2rem;
}

.container{
    display: inline-block;
  }
.typed-out{
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    animation: 
    typing 2s steps(20, end) forwards;
    font-size: 1.6rem;
    width: 0;
    color: white;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }